<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer</title>
</head>
<body>
  
    <section id="person icon">
    <img src="media/logo/cart/user.svg" alt="cart"/></li></a>
    </section>
    <section id="username">
        <label  for="uname">Username: </label><br>
        <input  type="text" placeholder="Username" v-model="user" required/>
    </section>

    <section id="password">
        <label  for="passwd">Password: </label><br>
        <input  type="password" placeholder="Password" v-model="pass" required/>
    </section>

    <section id="buttons">
       <a href="/lec-project/login.html" > Back</a>
       <a href="/lec-project/index.html"> Login </a>
    </section>
</body>
</html>