
:root {
    --scarlet-400:#C25E77  ;
    --scarlet-401:#F1D4DA;
    --scarlet-402:#E19FAE;
    --scarlet-403:#EDC9D1;
    --scarlet-404:#F5F4F1;

   
  }
  

  
#index_page{
     background-color:var(--scarlet-404) ;
}

#name{
    color:var(--scarlet-400) ;
}



#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--scarlet-404);
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--scarlet-402);
    transition: 0.3s ease;
}

#navbar li a:hover{
    color: var(--scarlet-400);

}

#navbar li a:hover , 
#navbar li a.active{
    color: var(--scarlet-400);

}

#navbar li a.active::after , #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: var(--scarlet-400);
    position: absolute;
    bottom: -4px;
    left: 20px;

}



/* Style the search bar */
#search {
    margin-top: 20px;
}

#search input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-left: 30%;
}

#search button {
    padding: 8px 20px;
    border: none;
    background-color: var(--scarlet-400);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
} */


hr {
    border: none; /* Remove default border */
    height: 1px; /* Set height */
    background-color: var(--scarlet-400); 
    margin: 20px 0; 
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    width: 100%; 
    margin: auto; 
  }

.social-icons-bth{
    display: flex;
    margin-top: 20px;
  }
  
  .icons {
    background-color: var(--scarlet-403);
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0.2rem;
    display: inline-flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 
      0 2px 2px #d1d1d1;
    color: #fff;
    cursor: pointer;
    transition:all 0.15s ease;
    margin-left: 135px;
  }
  
  .twitter:hover {
    background: #00ECEE;
  }
  
  .facebook:hover {
    background: #4267B2;
  }
  
  .instagram:hover {
    background-image: 
      linear-gradient(
      #8a3ab9,
      #e95950, 
      #bc2a8d, 
      #fccc63
      );
  }
 
  .emailIcon:hover{
    background: pink;
  }

  .copyright{
    font-size: medium;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 3%;
    padding-bottom: 0.5%;
  }

  .copyright p{
    font-size: medium;
    text-align: left;
    color: var(--scarlet-400);
  }




